/*=============================================
=                Stylesheet Main              =
=============================================*/
/*----------  Imports  ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a:focus, button:focus {
  outline: none; }

/*=============================================
=                   Colors                    =
=============================================*/
/*=============================================
=                  Typography                 =
=============================================*/
*, h1, h2, h3, h4, h5, h6, p, a, small {
  font-family: 'helvetica neue', sans-serif;
  font-weight: 400; }

h2 {
  color: #dedee8;
  font-size: 1.6rem; }

i {
  color: #dedee8; }

#open {
  position: fixed;
  padding: 10px;
  font-size: 2rem;
  color: #101020;
  cursor: pointer; }
  #open:hover {
    opacity: 0.7; }

#menu {
  height: 100vh;
  width: 300px;
  padding: 8px 20px;
  background-color: #101020;
  position: fixed;
  overflow: hidden;
  transition: all ease-in-out 0.9; }

#close {
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; }
  #close:hover {
    opacity: 1; }

.hide {
  margin-left: -300px; }

/*----------  Break Point 1 - 1200px  ----------*/
