/*=============================================
=                Stylesheet Main              =
=============================================*/
/*----------  Imports  ----------*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a:focus, button:focus {
  outline: none; }

button {
  cursor: pointer; }

/*=============================================
=                   Colors                    =
=============================================*/
/*=============================================
=                  Typography                 =
=============================================*/
*, h1, h2, h3, h4, h5, h6, p, a, small {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1 {
  font-size: 2.8rem; }

h2 {
  font-weight: 200;
  color: #f2f2f2;
  font-size: 1.4rem; }

h3 {
  padding: 1rem 0; }

a {
  color: #f2f2f2;
  font-weight: 600; }

span {
  color: #67bf95; }

i {
  color: #f2f2f2; }

strong {
  font-weight: 600; }

#open {
  position: fixed;
  padding: 10px;
  font-size: 2rem;
  color: black;
  z-index: 10;
  cursor: pointer; }
  #open:hover {
    opacity: 0.6; }

.menu {
  height: 100vh;
  width: 250px;
  z-index: 10;
  margin-left: -250px;
  position: fixed;
  overflow: hidden;
  background-color: #243138;
  transition: 0.4s ease-in-out; }
  .menu h2 {
    padding: 10px; }

#close {
  opacity: 0.8;
  top: 10px;
  right: 10px;
  cursor: pointer;
  position: absolute; }
  #close:hover {
    opacity: 1; }

.show {
  margin-left: 0px; }

ul {
  list-style-type: none;
  margin: 30px 0;
  border-top: 1px solid #374953; }

li {
  padding: 14px 18px;
  cursor: pointer;
  border-bottom: 1px solid #374953; }
  li i {
    padding-right: 6px;
    color: #626d82;
    width: 30px;
    text-align: center; }
  li:hover {
    background-color: #374953; }
    li:hover i {
      color: #f2f2f2; }

.active {
  padding-left: 12px;
  background-color: #374953;
  border-left: 5px solid #67bf95; }
  .active i {
    color: #f2f2f2; }

/* The switch - the box around the slider */
.switch {
  width: 40px;
  height: 22px;
  position: relative;
  display: inline-block; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: .4s; }

.slider:before {
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  content: "";
  position: absolute;
  background-color: white;
  transition: .4s; }

input:checked + .slider {
  background-color: #67bf95; }

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  transform: translateX(17px); }

/* Rounded sliders */
.slider.round {
  border-radius: 17px; }

.slider.round:before {
  border-radius: 50%; }

.btn {
  border: none;
  background: none;
  line-height: 1em;
  color: #0b0b0b;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 .25em 0 0;
  border: 2px solid #67bf95;
  border-radius: .28rem;
  padding: .6em 1.5em .6em;
  transition: all 0.2s ease; }
  .btn:active {
    -webkit-transform: scale(0.98);
            transform: scale(0.98); }

.btn-outline {
  color: #67bf95;
  border: 2px solid #67bf95; }
  .btn-outline:hover {
    background-color: #67bf95;
    color: #f2f2f2; }

.btn-round {
  border-radius: 50px; }

.btn-sm {
  font-size: 0.707em; }

.bg-brand {
  background-color: #67bf95; }
  .bg-brand:hover {
    background-color: #48ab7c;
    border: 2px solid #48ab7c; }

.bg-alt {
  background-color: #0b0b0b; }
  .bg-alt:hover {
    background-color: black; }

.card-container {
  -webkit-perspective: 700px;
          perspective: 700px; }

.card {
  color: #0b0b0b;
  margin: 20px 0;
  width: 200px;
  height: 250px;
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.front, .back {
  top: 0;
  padding-top: 75px;
  left: 0;
  width: 200px;
  height: 250px;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #d5d5d5;
  background-color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.17); }
  .front h3, .back h3 {
    padding: 10px; }
  .front p, .back p {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0; }

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

header {
  height: 600px;
  position: relative;
  overflow: hidden;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/hero-image.jpg"); }
  header h1 {
    width: 380px;
    height: 148px;
    color: #f2f2f2;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    padding: 40px 0;
    margin-left: -200px;
    margin-top: -68px;
    border: 14px solid #f2f2f2; }

.modal {
  position: fixed;
  z-index: 100;
  display: none; }

.modal-bg {
  position: inherit;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 101;
  opacity: 0.5;
  background-color: black; }

.close-button {
  top: 16px;
  right: 16px;
  z-index: 102;
  position: inherit; }

.modal-main {
  top: 50%;
  left: 50%;
  z-index: 102;
  width: 600px;
  height: 400px;
  padding: 30px;
  position: inherit;
  background-color: #f2f2f2;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

#close-modal {
  cursor: pointer;
  color: #0b0b0b; }

.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 100%;
  margin: 30px 10px;
  transition: all .5s ease-in-out; }

.move {
  -webkit-transform: translate(400px, 0px);
          transform: translate(400px, 0px); }

main {
  width: 100vw;
  height: 100%;
  padding-bottom: 200px;
  background-color: #e9e9e9; }

article {
  max-width: 760px;
  margin: 30px auto;
  padding: 30px;
  background-color: #f2f2f2;
  border: 1px solid #d5d5d5;
  border-radius: 4px; }

hr {
  margin-bottom: 50px; }

/*----------  Break Point 1 - 1200px  ----------*/
