// --------------------------------------------------
// Buttons
// --------------------------------------------------


//--------------------------------
// Buttons
//--------------------------------

.btn {
    border: 	none;
	background: none;
	line-height: 1em;
	color: 	  $black;
	font-size: 	1rem;
	font-weight: 500;
	margin:   0 .25em 0 0;
	border: 2px solid $brand;
	border-radius: 	  .28rem;
	padding: .6em 1.5em .6em;
	transition:  all 0.2s ease;
	
	&:active {transform: scale(0.98)}
}


.btn-outline {
	color: $brand;
	border: 2px solid $brand;
	
	&:hover {
	background-color: $brand;
    color: $white;
	}
}

.btn-round {border-radius: 50px}

.btn-sm {font-size: 0.707em}


//--------------------------------
// Background Colors
//--------------------------------

.bg-brand {
    background-color: $brand;

    &:hover {
		background-color: darken($brand, 10);
		border: 2px solid  darken($brand, 10);
	}
}

.bg-alt {
    background-color: $black;

    &:hover {background-color: darken($black, 10)}
}
