.card-container {perspective: 700px}

.card {
    color:  $black;
    margin: 20px 0;
    width:   200px;
    height:  250px;
    position: relative;
    cursor:    pointer;
    text-align: center;
    line-height:  50px;
    transition:    all 0.6s ease;
    transform-style: preserve-3d;
    
}

.flip {transform: rotateY(180deg)}

.front, .back {
    top:        0;
    padding-top: 75px;
    left:       0;
    width:  200px;
    height: 250px;
    position: absolute;
    border-radius: 2px;
    border:   1px solid $border;
    background-color:   white;
    backface-visibility: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.17);
    h3 {padding: 10px}
    p {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

.back {transform: rotateY(180deg)}
