/*=============================================
=                Stylesheet Main              =
=============================================*/


/*----------  Imports  ----------*/
@import "normalise";
@import "colors";
@import "typography";
@import "menu";
@import "toggle";
@import "buttons";
@import "cards";

main {
    height: 100vh;
    width: 100vw;
    background-color: $back;
    padding: 30px 30px;
}

article {
    max-width: 760px;
    margin: 30px auto;
    padding: 30px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
}


@import "media-queries";